<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ltd.newbee.mall.newbeemall.dao.ECGoodsDetailMapper">
	<select id="selectGoodsDetail"
		resultType="ltd.newbee.mall.newbeemall.entity.TbNewbeeMallGoodsInfo">
		select i.goods_name,i.goods_cover_img,i.selling_price,i.goods_id
		from tb_newbee_mall_goods_info as i
		join config as co
		on co.sku_id=i.goods_id
		where co.config_type =#{configType};
	</select>

</mapper>