<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.newbeemall.dao.NewListMapper">
	<!--dao层mapper，java文件名 -->

	<select id="setNewLists"
		resultType="ltd.newbee.mall.newbeemall.entity.TbNewbeeMallGoodsInfo">
		<!--id是mapper的方法名，resultType是指定的返回类型 -->
		 select *
        from tb_newbee_mall_goods_info as i
        join sub_category as s 
        on i.goods_id=s.goods_id
		join tb_newbee_mall_goods_category as c
        on i.goods_category_id=c.category_id
        where i.goods_category_id=#{goodsCategoryId}
	</select>

</mapper>

