<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ltd.newbee.mall.newbeemall.dao.SecondSkuCategoryMapper">
	<select id="findSubCategory"
		resultType="ltd.newbee.mall.newbeemall.vo.SubECGoodsCategoryVo">
		select
		c2.category_name,
		count(i.goods_id)as sub_nums_of_goods
		from tb_newbee_mall_goods_category as c
		join tb_newbee_mall_goods_category as c2
		on c.category_id=c2.parent_id
		join tb_newbee_mall_goods_info as i
		on i.goods_category_id=c2.category_id
		where c.category_id=#{categoryId}
		group by c2.category_id;


	</select>

</mapper>

