<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ltd.newbee.mall.newbeemall.dao.SkuCategoryMapper">
	<select id="findGoodsInfoByGoodsCategoryId"
		resultType="ltd.newbee.mall.newbeemall.vo.SkuCategoryVo">
		select
		*
		from
		tb_newbee_mall_goods_info as i
		join tb_newbee_mall_goods_category
		as c
		on i.goods_category_id=c.category_id
		join sub_category as s
		on
		s.goods_id=i.goods_id
		where c.category_id=#{categoryId} or
		c.category_id in
		(select
		c2.category_id
		from
		tb_newbee_mall_goods_category as c
		join
		tb_newbee_mall_goods_category as
		c2
		on c.category_id=c2.parent_id
		where
		c.category_id=#{categoryId}
		)


		<if test="ascOrDesc == 'desc'">
			ORDER BY ${orderBy} DESC
		</if>
		<if test="ascOrDesc == 'asc'">
			ORDER BY ${orderBy} ASC
		</if>
		limit #{pageNum},20;

	</select>

</mapper>

